# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# IDE
.idea/
.vscode/

# ML datasets
ml/data/

# Logs
logs/
*.log

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Trained ML models
ml/models/*.joblib
ml/models/*.pkl