# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Environment Variables
.env

# ML Models
*.pkl
*.joblib

# Processed Data
ml/data/processed/

# Logs
*.log

# Cache
.pytest_cache/
.mypy_cache/

# Streamlit
.streamlit/secrets.toml