 # Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/


# Virtual Environment
.venv/
venv/
env/


# VS Code
.vscode/


# macOS
.DS_Store


# Environment Variables
.env


# ML Models
*.pkl
*.joblib


# Raw datasets
ml/data/raw/


# Processed datasets
ml/data/processed/


# Trained models
ml/models/


# Artifacts
ml/artifacts/


# Logs
logs/


# Jupyter checkpoints
.ipynb_checkpoints/



# Cache
.pytest_cache/
.mypy_cache/


# Streamlit
.streamlit/secrets.toml